{
	email pontus.burman@papabravo.se
}

korpasset.se, www.korpasset.se {
	encode gzip zstd
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
	reverse_proxy app:3000
}
